.art-info-loading {
    display: flex;
    color: blue;
    margin-left: 50%;
    margin-right: 50%;
    justify-content: center;
    margin-top: 200px;
    font-size: 31px;
}

/* .single-art-details-page-container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

} */

.art-piece-details-container{
    display: flex;
    flex-direction: row;
    gap: 13px;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1em solid black;
    margin: 2em;
    padding: 2em;

}



.art-piece-details-image{
    max-width: 75vw;
    max-height: 85vh;
    /* margin-bottom: 33px; */

}

/* .single-art-details-page-container {
    margin-left: 2em;
    margin-right: 2em;

} */




.art-piece-details-info-container{
    /* margin-bottom: 33px; */
    /* max-width: 25vw; */
    max-height: 85vh;

    overflow-x: hidden;
    /* justify-content: center; */

}



/* .art-piece-details-description > div {
    margin-bottom: 1em;
} */

.art-piece-details-description{
    margin-top: 7px;
}

.art-piece-details-wishlist-status{
    margin-top: 13px;
    padding-bottom: 7px;
}


@media (max-width: 1385px) {
    .art-piece-details-container {
      flex-direction: column;
      max-width: 35vw;
      /* justify-self: center; */
    }

    .single-art-details-page-container{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;


    }
}
