.art-info-loading {
    display: flex;
    color: blue;
    margin-left: 50%;
    margin-right: 50%;
    justify-content: center;
    margin-top: 200px;
    font-size: 31px;
}

.art-piece-details-container{
    display: flex;
    flex-direction: row;
    gap: 13px;
    margin-left: 13px;
}

.art-piece-details-title{
    margin-left: 13px;
}

.art-piece-details-image{
    max-width: 45vw;
    max-height: 45vw;
    margin-bottom: 33px;
}

.art-piece-details-info-container{
 margin-bottom: 33px;
}

.art-piece-details-description-container{
    margin-top: 23px;
    margin-bottom: 23px;
    margin-right: 13px;
}

.art-piece-details-description{
    margin-top: 7px;
}

.art-piece-details-wishlist-status{
    margin-top: 7px;
}
