.artwork-description-modal{
    width: 33vw;
    padding: 1.5em;
    display: flex;
  flex-direction: column;
  align-items: center;
}


.art-piece-details-description-container{
    max-height: 33vh;
    overflow-y: auto;
    overflow-x: hidden;
}


.artwork-description-image{
    max-height: 33vh;
    max-width: 33vw;
    justify-content: center;

    margin: auto;
    margin-bottom: 0.7em;
}
